<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置bean对象-->
    <bean id="us" class="com.xubowen.service.impl.UserServiceImpl"></bean>

    <!--Spring IOC 创建对象-->
    <!--构造器创建对象  无参构造器-->
    <bean id="stu" class="com.xubowen.staticproxy.pojo.Student"></bean>

    <!--构造器创建对象  有参构造器-->
    <bean id="stu2" class="com.xubowen.staticproxy.pojo.Student">
<!--        <constructor-arg index="0" name="id" type="java.lang.Integer"  value="1"></constructor-arg>
        <constructor-arg index="1" name="name" type="java.lang.String" value="jack"></constructor-arg>
        <constructor-arg index="2" name="age" type="java.lang.Integer" value="20"></constructor-arg>-->
    </bean>

    <!--属性注入方式创建-->
    <bean id="stu3" class="com.xubowen.staticproxy.pojo.Student">
        <property name="age" value="50"></property>
        <property name="id" value="9000"></property>
        <property name="name" value="java"></property>
    </bean>


    <!--工厂方式创建对象-->
    <!--创建动态工厂-->
    <bean id="stuFactory" class="com.xubowen.factory.StudentFactory"></bean>
    <!--生产对象-->
    <bean id="stu4" factory-bean="stuFactory" factory-method="newInstance"></bean>

    <!--静态工厂-->
    <bean id="stu5" class="com.xubowen.factory.StudentFactory2" factory-method="newInstance"></bean>


    <!--DI依赖注入：创建存在依赖关系的对象-->
    <!--1. 有参构造-->
    <bean id="stu6" class="com.xubowen.staticproxy.pojo.Student">
        <constructor-arg index="0" name="id" type="java.lang.Integer"  value="1"></constructor-arg>
        <constructor-arg index="1" name="name" type="java.lang.String" value="jack"></constructor-arg>
        <constructor-arg index="2" name="age" type="java.lang.Integer" value="20"></constructor-arg>
        <constructor-arg index="3" name="teacher" type="com.xubowen.staticproxy.pojo.Teacher" ref="tea"></constructor-arg>
    </bean>

    <bean id="tea" class="com.xubowen.staticproxy.pojo.Teacher">
        <property name="tid" value="74"></property>
        <property name="tname" value="allen"></property>
    </bean>

    <!--2. 属性注入-->
    <bean id="stu7" class="com.xubowen.staticproxy.pojo.Student">
        <property name="age" value="50"></property>
        <property name="id" value="9000"></property>
        <property name="name" value="java"></property>
        <property name="teacher" ref="tea"></property>
    </bean>

    <!--3. 自动注入  autowire设置byname，会去找与属性名相同的依赖对象bean id
                    autowire设置byType，会去找与属性名类型相同的依赖对象bean，但注意此类型只能有一个，多个会报错
                    -->
    <bean id="stu8" class="com.xubowen.staticproxy.pojo.Student" autowire="byName">
        <property name="age" value="50"></property>
    </bean>

    <bean id="stu9" class="com.xubowen.staticproxy.pojo.Student" autowire="byName">
        <property name="age" value="50"></property>
    </bean>

    <bean id="teacher" class="com.xubowen.staticproxy.pojo.Teacher">
        <property name="tid" value="74"></property>
        <property name="tname" value="allen"></property>
    </bean>

</beans>