<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--Spring IOC 创建对象-->

    <!--配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/test01?serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="0000"/>
    </bean>

    <!--配置工厂bean-->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--配置mapper扫描路径  自动扫描包下所有接口并实例化对象进IOC容器等待使用，每个实例化对象对应的beanid为接口名称小写-->
    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactory" ref="factory"></property>
        <property name="basePackage" value="com.xubowen.mapper"></property>
    </bean>


    <!--配置业务层bean-->
    <bean id="us" class="com.xubowen.service.impl.UserServiceImpl">
        <property name="um" ref="userMapper"></property>
    </bean>
</beans>